<div class="row">
  <div class="col-12">
    <label for="server-name">Server Name</label>
  </div>
  <div class="col-12 mt-1">
    <input [(ngModel)]="server.name" id="server-name" type="text" />
  </div>

  <div class="col-12 mt-1">
    <label for="server-content">Server Content</label>
  </div>
  <div class="col-12 mt-1">
    <input [(ngModel)]="server.content" id="server-content" type="text" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-2">
    <button class="btn btn-primary" (click)="addServer(server)">
      Add Server
    </button>
  </div>
  <div class="col-4">
    <button class="btn btn-primary" (click)="addServer(server)">
      Add Server Blueprint
    </button>
  </div>
</div>
