<div class="row mx-20 mt-4">
  <div class="col-12">
    <label class="form-label" for="account-name">Account Name</label>
  </div>
  <div class="col-12">
    <input class="form-control" id="account-name" type="text" #account_name />
  </div>
  <div class="col-12 mt-2">
    <label class="form-label" for="account-status">Account Status</label>
  </div>
  <div class="col-12">
    <select class="form-select" id="account-status" #account_status>
      <option value="ACTIVE">Active</option>
      <option value="INACTIVE">Inactive</option>
      <option value="HIDDEN">Hidden</option>
    </select>
  </div>
  <div class="col-12 mt-3">
    <button class="btn btn-primary" (click)="addAccount()">Add Account</button>
  </div>
</div>
